services:
  backend:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - .env
    networks:
      - server-mongo
    depends_on:
      - mongo

  frontend:
    build: ./client
    ports:
      - "80:80"
    env_file:
      - .env
    depends_on:
      - backend

  mongo:
    image: mongo:6.0.18-rc0-jammy
    volumes:
      - mongodb_data:/data/db
    ports:
      - "27017:27017"
    networks:
      - server-mongo

volumes:
  mongodb_data:

networks:
  server-mongo: